.card {
  aspect-ratio: 1 / 1;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(46, 49, 52, 0.4);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  text-align: unset;
  transition: 0.25s ease box-shadow;

  &.selected {
    box-shadow: 0 7px 12px 0 rgba(46, 49, 52, 0.3);
  }

  .card-image-container {
    position: relative;
    .card-overlay {
      align-items: center;
      background: rgba(0, 0, 0, 0.5);
      border-top-right-radius: 5px;
      color: #f1f1f1;
      display: flex;
      flex-direction: column;
      font-size: 20px;
      height: 100%;
      justify-content: space-evenly;
      opacity: 1;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      transition: 0.5s ease;
      width: 45%;

      .card-overlay-workouts {
        font-size: 0.75rem;
      }
    }

    .card-image {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      display: block;
      width: 100%;
    }
  }

  .card-text {
    height: 40%;
    padding: 16px;

    .card-header {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;

      h5 {
        font-size: 0.75vw;
        margin: 0px;
        width: 75%;
      }

      .card-header-image {
        border-radius: 5px;
        width: 15%;
      }
    }

    .card-body {
      display: flex;
      flex-direction: column;

      .card-body-stats {
        align-items: center;
        display: flex;
        font-size: 0.6vw;
        font-weight: 600;
        justify-content: space-between;
        margin-bottom: 0.75rem;
        width: 45%;
      }

      .card-body-details {
        color: #5c84d3;
        font-size: 0.75vw;
        font-weight: 700;
      }
    }
  }
}
